.page-wrapper {
    width: 100dvh;
}

.input-group {
    width: unset;
}

.coffee-form {
    background-color: white;
    position: absolute;
    top: 25%;
    right: 25%;
    border: 1px solid black;
    visibility: hidden;
}

.active {
    visibility: visible;
}